*,
*::before,
*::after {
    box-sizing: border-box;
    /* outline: 2px solid red; */
    font-family:Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
}

/* first container style */
.first_container {
    background-color: #1f2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    padding: 10px 240px 140px;
    
}
.hero_text {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0;
}
.hta{
    width: 450px;
    margin-right: 50px;
}
.hta p {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;
}
.button_header {
    background-color: #3882f6;
    color: #F9FAF8;
    font-weight: 600;
    border: 0;
    border-radius: 8px;
}
.nav {
    margin-bottom: 120px;
}
.nav_top_right {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 28px;
}

/* 2nd container sytle */

.second_container {
    padding-bottom: 100px;
}
.second_container h1 {
    text-align: center;
}
.random_information {
    display: flex;
    justify-content: center;
    gap: 32px;
    text-align: center;
}
.random {
    max-width: 150px;
}
.random_information img {
    height: 150px;
    object-fit: cover;
    border: 2px blue solid;
    border-radius: 12px;

}
.random_information p {
    margin-top: 5px;
}
.second_container h1 {
    margin: 32px 0;
}


/* 3rd container */
.third_container {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 50px 80px;
}
.third_container p {
    width: 500px;
    font-size: 22px;
    font-style: italic;
    color: #1f2937;
}

/* 4th container */

.fourth_container {
    padding: 80px 134px;
    display: flex;
    justify-content: center;
}
.call_to_action {
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    width: 800px;
    padding: 30px;
    color: #F9FAF8;
}
.cta_text p {
    margin: 0;
}

/* btn */
button {
    background-color: #3882f6;
    border-radius: 8px;
    padding: 6px 24px;
    border-color: #F9FAF8;
    color: #F9FAF8;
    font-weight: 550;
}
#cta {
    font-weight: 600;
    font-size: 18px;
    color: #F9FAF8;
}
.cta_text p {
    font-size: 14px;
    font-weight: 50;
    color: hsl(90, 5%, 82%);
}


/* last_container */
.last_container {
    background-color: #1f2937;
    padding: 8px;
    color: #f9faf8d5;
    text-align: center;
}